<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="navbar">
  <div class="container mt-4 mb-5">
    <div class="d-flex justify-content-between">
      <div>
        <a href="/" style="color: black; text-decoration-line: none;">
          <h4><i class="bi bi-cart-dash-fill"></i> Shop</h4>
        </a>
      </div>
      <div>
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link text-dark" href="#">모자</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="#">코드</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="#">셔츠</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="#">티셔츠</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="#">긴팔티</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="#">바지</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="#">신발</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="#">백팩</a>
          </li>
        </ul>
      </div>
      <div>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="상품 이름 검색" aria-label="Search">
          <button class="btn btn-outline-success" type="submit"><i class="bi bi-search"></i></button>
        </form>
      </div>
    </div>
  </div>
</div>

</html>